POSTGRES_DB=ahoum_db
POSTGRES_USER=ahoum_user
POSTGRES_PASSWORD=ahoum_pass
POSTGRES_HOST=db

DJANGO_SECRET_KEY=supersecretkey123
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

NEXT_PUBLIC_API_URL=http://localhost/api
